.main7 {
    background-color: rgb(206, 214, 248);
    padding: 150px;
    margin-top:950px;
    display:$display_flex;
    flex-direction:map-get($flex_direction , column );
    grid-area: main7;

    &_div1{
        justify-content: $justify_contect_space_around;
        display:$display_flex;
        align-items: $align_items_center;
        flex-direction: map-get($flex_direction , row);
        margin-top: -60px;
        &_linkjes{
            justify-content: $justify_contect_space_around;
            display: map-get($display_option , contents);
            list-style: none;
            flex-direction: map-get($flex_direction , row);
            a{
                font-weight: bold;
                text-decoration: none;
                color: rgb(0, 0, 0);
            }
        }
    }

    &_div2{
        display: flex;
        flex-direction: column;
        align-items: center;
        &_striped{ 
            border: 1px solid #000;
            width: 1100px;
            // margin: auto;
            margin-bottom: 5%; 
            position:absolute ;
    }
}
    &_div7{
        width: 150px;
        background-color: black;
        color: white;
        margin-top: 60px;
    }
}